apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${KUBECONFIG_CLUSTER_CERTIFICATE_AUTHORITY_DATA}
    server: ${KUBECONFIG_CLUSTER_CONTROLPLANE_ADDRESS}
  name: yc-managed-k8s
contexts:
- context:
    cluster: yc-managed-k8s
    namespace: ${KUBECONFIG_CONTEXT_NAMESPACE}
    user: default
  name: ${KUBECONFIG_CONTEXT_NAMESPACE}@yc-managed-k8s
current-context: ${KUBECONFIG_CONTEXT_NAMESPACE}@yc-managed-k8s
kind: Config
preferences: {}
users:
- name: default
  user:
    token: ${KUBECONFIG_USER_TOKEN}